@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body {
    background-color: hsl(212, 45%, 89%);
    /* margin: 0; */
    font-family: outfit;
}
.main {
    /* text-align: center; */
    margin: auto;
    /* width: 50; */
    /* background-color: red; */
    width: 1440px;
    height: 850px;
    /* margin-top: 20%; */
    /* margin-bottom: 20%; */
}
.square {
    background-color: white;
    height: 550px;
    width: 360px;
    /* margin: auto; */
    /* display: flex; */
    /* position: absolute; */
    /* margin-top: 90px; */
    /* padding-top: 90px; */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 20px;
    text-align: center;
}
.qr-code {
    /* background-color: blue; */
    height: 350px;
    width: 330px;
    margin: auto;
    margin-top: 7px;
    border: none;
    border-radius: 20px;
}
.heading {
    font-weight: 700;
    font-size: 23px;
    padding: 0px 25px 0px 25px;
    color: hsl(218, 44%, 22%);
}
.para {
    padding: 0px 35px 0px 35px;
    color: hsl(220, 15%, 55%);
}







.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}